SMLWebEditor/src/com/sensia/swetools/editors/sensorml/public/sensorML/schema/flatten/sensorML_flat.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://www.opengis.net/sensorml/2.0" version="2.0.0"
    xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco"
    xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:sml="http://www.opengis.net/sensorml/2.0" xmlns:swe="http://www.opengis.net/swe/2.0">
    <annotation>
        <documentation>All-components schema for the Sensor Model Language (SensorML) namespace. See
            Conformance Class urn:ogc:spec:SensorML:2.0:XXX of the Sensor Model Language 2.0
            specification.                  SensorML is an OGC Standard.         Copyright (c) 2014
            Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <annotation>
        <documentation>The elements of a concrete simple non-physical process derived from the core
            process model.                  SensorML is an OGC Standard.         Copyright (c) 2014
            Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0"
        schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
    <annotation>
        <documentation>The core elements of an abstract process from which all major elements of
            SensorML are derived.                  SensorML is an OGC Standard.         Copyright
            (c) 2014 Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <import namespace="http://www.isotc211.org/2005/gmd"
        schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco"
        schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <!-- ================================================= -->
    <element abstract="true" name="DescribedObject" substitutionGroup="gml:AbstractFeature"
        type="sml:DescribedObjectType">
        <annotation>
            <documentation>A feature with generic metadata which further clarifies the object and
                supports object discovery.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="DescribedObjectType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="extension"
                        type="anyType">
                        <annotation>
                            <documentation>A property that allows one to extend a document using a
                                schema in a different namespace from the current
                                schema.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="keywords"
                        type="sml:KeywordListPropertyType">
                        <annotation>
                            <documentation>Short keywords describing the context of this document to
                                aid in discovery.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="identification" type="sml:IdentifierListPropertyType">
                        <annotation>
                            <documentation>Identifiers useful for discovery of the process (e.g.
                                short name, mission id, wing id, serial number,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="classification" type="sml:ClassifierListPropertyType">
                        <annotation>
                            <documentation>Classifiers useful for discovery of the process (e.g.
                                process type, sensor type, intended application,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="validTime">
                        <annotation>
                            <documentation>The time instance or time range during which this
                                instance description is valid.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <group ref="sml:TimeInstantOrPeriod"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="securityConstraints" type="anyType">
                        <annotation>
                            <documentation>Overall security tagging of process description;
                                individual tagging of properties can be done using extension
                                element.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="legalConstraints" type="gmd:MD_LegalConstraints_PropertyType">
                        <annotation>
                            <documentation>Legal constraints applied to this description (e.g.
                                copyrights, legal use, etc.)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="characteristics">
                        <annotation>
                            <documentation>Useful properties of this process that do not further
                                qualify the output values (e.g. component dimensions, battery life,
                                operational limits, etc).</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="sml:CharacteristicListPropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="capabilities">
                        <annotation>
                            <documentation>Properties that further clarify or quantify the output of
                                the process (e.g. dynamic range, sensitivity, threshold, etc.).
                                These can assist in the discovery of processes that meet particular
                                requirements.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="sml:CapabilityListPropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="contacts"
                        type="sml:ContactListPropertyType">
                        <annotation>
                            <documentation>Persons or responsible parties that are relevant to this
                                process (e.g. designer, manufacturer, expert, etc.)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="documentation" type="sml:DocumentListPropertyType">
                        <annotation>
                            <documentation>Additional external online documentation of relevance to
                                this process (e.g. user's guides, product manuals, specification
                                sheets, images, technical papers, etc.)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="history"
                        type="sml:EventListPropertyType">
                        <annotation>
                            <documentation>A collection of time-tagged events relevant to this
                                process.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute ref="xml:lang" use="optional">
                    <annotation>
                        <documentation>A tag that identifies the language (e.g. english, french,
                            etc.) for the overall document using a two-letters code as defined by
                            ISO 639-1.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DescribedObjectPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:DescribedObject"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element abstract="true" name="AbstractProcess" substitutionGroup="sml:DescribedObject"
        type="sml:AbstractProcessType">
        <annotation>
            <documentation>The general base model for any process.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractProcessType">
        <complexContent>
            <extension base="sml:DescribedObjectType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="typeOf"
                        type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>sml:AbstractProcess</gml:targetElement>
                            </appinfo>
                            <documentation>A reference to a base process from which this process
                                inherits properties and constraints (e.g. original equipment
                                manufacturer's model description, generic equation, etc.). The
                                uniqueID of the referenced process must be provided using the
                                xlink:title attribute while the URL to the process description must
                                be provided by the xlink:href attribute.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="configuration">
                        <annotation>
                            <documentation>Value settings that further constrain the properties of
                                the base process.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:AbstractSettings"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="featuresOfInterest">
                        <annotation>
                            <documentation>A collection of features relevant to a process (e.g. the
                                Gulf of Mexico, the White House, the set of all Fibonacci Numbers,
                                etc.); can also support a sampling feature. The primary purpose of
                                the Features of Interest is to support discovery.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:FeatureList"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="inputs">
                        <annotation>
                            <documentation>The list of data components (and their properties and
                                semantics) that the process will accept as input; In the standard
                                linear equation y=mx+b; x is the input, m and b are the parameters,
                                and y is the output.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:InputList"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="outputs">
                        <annotation>
                            <documentation>The list of data components (and their properties and
                                semantics) that the process will accept as output; In the standard
                                linear equation y=mx+b; x is the input, m and b are the parameters,
                                and y is the output.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:OutputList"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="parameters">
                        <annotation>
                            <documentation>The list of data components (and their properties and
                                semantics) that the process will accept as parameters; In the
                                standard linear equation y=mx+b; x is the input, m and b are the
                                parameters, and y is the output.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:ParameterList"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="modes">
                        <annotation>
                            <documentation>A collection of parameters that can be set at once
                                through the selection of a particular predefined
                                mode.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:AbstractModes"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
                <attribute form="unqualified" name="definition" type="anyURI" use="optional">
                    <annotation>
                        <documentation>An optional property that allows one to reference the process
                            instance in an online ontology or dictionary. The value of the property
                            must be a resolvable URI.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AbstractProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="AbstractSettings" substitutionGroup="swe:AbstractSWE"
        type="sml:AbstractSettingsType"/>
    <complexType name="AbstractSettingsType">
        <complexContent>
            <extension base="swe:AbstractSWEType"/>
        </complexContent>
    </complexType>
    <complexType name="AbstractSettingsPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AbstractSettings"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="OutputList" substitutionGroup="swe:AbstractSWE" type="sml:OutputListType"/>
    <complexType name="OutputListType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="output">
                        <complexType>
                            <complexContent>
                                <extension base="sml:DataComponentOrObservablePropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OutputListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:OutputList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="IdentifierList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:IdentifierListType"/>
    <complexType name="IdentifierListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="identifier">
                        <complexType>
                            <sequence>
                                <element ref="sml:Term"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="IdentifierListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:IdentifierList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="InputList" substitutionGroup="swe:AbstractSWE" type="sml:InputListType"/>
    <complexType name="InputListType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="input">
                        <complexType>
                            <complexContent>
                                <extension base="sml:DataComponentOrObservablePropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InputListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:InputList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="DocumentList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:DocumentListType"/>
    <complexType name="DocumentListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="document"
                        type="gmd:CI_OnlineResource_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DocumentListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:DocumentList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="CharacteristicList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:CharacteristicListType"/>
    <complexType name="CharacteristicListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1"
                        name="characteristic">
                        <complexType>
                            <complexContent>
                                <extension base="swe:AbstractDataComponentPropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CharacteristicListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:CharacteristicList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="FeatureList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:FeatureListType"/>
    <complexType name="FeatureListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="feature"
                        type="gml:FeaturePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FeatureListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:FeatureList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Event" substitutionGroup="swe:AbstractSWEIdentifiable" type="sml:EventType">
        <annotation>
            <documentation>A time tagged Event with description and relevant property
                values.</documentation>
        </annotation>
    </element>
    <complexType name="EventType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="keywords"
                        type="gmd:MD_Keywords_PropertyType">
                        <annotation>
                            <documentation>keywords useful for discovery of the
                                event</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="identification" type="sml:IdentifierListPropertyType">
                        <annotation>
                            <documentation>Identifiers relevant to the event</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="classification" type="sml:ClassifierListPropertyType">
                        <annotation>
                            <documentation>Type of event (useful for discovery)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="contacts"
                        type="sml:ContactListPropertyType">
                        <annotation>
                            <documentation>Persons or parties relevant to this event</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="documentation" type="sml:DocumentListPropertyType">
                        <annotation>
                            <documentation>Additional documentation relevant to this
                                event</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" name="time">
                        <annotation>
                            <documentation>DateTime of the event</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <group ref="sml:TimeInstantOrPeriod"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="property"
                        type="swe:AbstractDataComponentPropertyType">
                        <annotation>
                            <documentation>Properties of interest to the event (e.g. calibration
                                values, condition category, error codes, etc)</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="configuration">
                        <annotation>
                            <documentation>Configuration settings adjusted during
                                event</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:AbstractSettings"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
                <attribute form="unqualified" name="definition" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EventPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:Event"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="CapabilityList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:CapabilityListType"/>
    <complexType name="CapabilityListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="capability">
                        <complexType>
                            <complexContent>
                                <extension base="swe:AbstractDataComponentPropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CapabilityListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:CapabilityList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="EventList" substitutionGroup="sml:AbstractMetadataList" type="sml:EventListType"/>
    <complexType name="EventListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="event"
                        type="sml:EventPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EventListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:EventList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="AbstractMetadataList" substitutionGroup="swe:AbstractSWEIdentifiable"
        type="sml:AbstractMetadataListType"/>
    <complexType name="AbstractMetadataListType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <attribute form="unqualified" name="definition" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractMetadataListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AbstractMetadataList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ContactList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:ContactListType"/>
    <complexType name="ContactListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="contact"
                        type="gmd:CI_ResponsibleParty_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ContactListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ContactList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="KeywordList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:KeywordListType"/>
    <complexType name="KeywordListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="codeSpace"
                        type="swe:Reference">
                        <annotation>
                            <documentation>online dictionary or ontology which defines a collection
                                of possible keywords</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="keyword"
                        type="string">
                        <annotation>
                            <documentation>a short word or phrase that will aid in discovery of this
                                object</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="KeywordListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:KeywordList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Term" substitutionGroup="swe:AbstractSWE" type="sml:TermType"/>
    <complexType name="TermType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element form="qualified" name="label" type="string"/>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="codeSpace"
                        type="swe:Reference"/>
                    <element form="qualified" name="value" type="string"/>
                </sequence>
                <attribute form="unqualified" name="definition" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TermPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:Term"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ClassifierList" substitutionGroup="sml:AbstractMetadataList"
        type="sml:ClassifierListType"/>
    <complexType name="ClassifierListType">
        <complexContent>
            <extension base="sml:AbstractMetadataListType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="classifier">
                        <complexType>
                            <sequence>
                                <element ref="sml:Term"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ClassifierListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ClassifierList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ParameterList" substitutionGroup="swe:AbstractSWE" type="sml:ParameterListType"/>
    <complexType name="ParameterListType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="parameter">
                        <complexType>
                            <complexContent>
                                <extension base="sml:DataComponentOrObservablePropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ParameterListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ParameterList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="AbstractModes" substitutionGroup="swe:AbstractSWE" type="sml:AbstractModesType"/>
    <complexType name="AbstractModesType">
        <complexContent>
            <extension base="swe:AbstractSWEType"/>
        </complexContent>
    </complexType>
    <complexType name="AbstractModesPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AbstractModes"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="DataInterface" substitutionGroup="swe:AbstractSWEIdentifiable"
        type="sml:DataInterfaceType">
        <annotation>
            <documentation>The DataInterface description provides information sufficient for
                "plug-and-play" access to and parsing of the data stream or file at the particular
                IO port.</documentation>
        </annotation>
    </element>
    <complexType name="DataInterfaceType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <sequence>
                    <element form="qualified" name="data" type="swe:DataStreamPropertyType">
                        <annotation>
                            <documentation>The definition of the digital data components and
                                encoding accessed through the data interface.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="interfaceParameters"
                        type="swe:DataRecordPropertyType">
                        <annotation>
                            <documentation>A set of property values that define the type and
                                configuration of a data interface (e.g. the port settings of an
                                RS232 interface).</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DataInterfacePropertyType">
        <sequence minOccurs="0">
            <element ref="sml:DataInterface"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ObservableProperty" substitutionGroup="swe:AbstractSWEIdentifiable"
        type="sml:ObservablePropertyType">
        <annotation>
            <documentation>A physical property that can be observed and possibly measured (e.g.
                temperature, color, position). An ObservableProperty has unambiguous definition, but
                does not have units of measure.</documentation>
        </annotation>
    </element>
    <complexType name="ObservablePropertyType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <attribute form="unqualified" name="definition" type="anyURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ObservablePropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ObservableProperty"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <group name="TimeInstantOrPeriod">
        <annotation>
            <documentation>Either a Time Instant or Time Period</documentation>
        </annotation>
        <choice>
            <element ref="gml:TimePeriod"/>
            <element ref="gml:TimeInstant"/>
        </choice>
    </group>
    <complexType name="TimeInstantOrPeriodPropertyType">
        <sequence minOccurs="0">
            <group ref="sml:TimeInstantOrPeriod"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <simpleType name="ComponentValue">
        <union memberTypes="boolean integer double string swe:TimePosition"/>
    </simpleType>
    <!-- ================================================= -->
    <group name="DataComponentOrObservable">
        <choice>
            <element ref="swe:AbstractDataComponent">
                <annotation>
                    <documentation>A single digital number (DN) or aggregate of DNs that represent
                        the value of some property. Single data components can be of type Quantity,
                        Count, Category, Boolean, Text, or Time; these can be aggregated in records,
                        arrays, vector, and matrices.</documentation>
                </annotation>
            </element>
            <element ref="sml:ObservableProperty">
                <annotation>
                    <documentation>A physical property of the environment that can be observed by an
                        appropriate detector (e.g. temperature, pressure, etc.); Typically,an
                        ObservableProperty serves as the input of a detector and the output of an
                        actuator.</documentation>
                </annotation>
            </element>
            <element ref="sml:DataInterface">
                <annotation>
                    <documentation>A data interface serves as an intermediary between the pure
                        digital domain and the physical domain where DN are encoded into a format
                        and perhaps transmitted through physical connections using some well-defined
                        protocol. The DataInterface element allows one to define the components,
                        semantics, encoding, connections, and protocol at an input, output, or
                        parameter port.</documentation>
                </annotation>
            </element>
        </choice>
    </group>
    <complexType name="DataComponentOrObservablePropertyType">
        <sequence minOccurs="0">
            <group ref="sml:DataComponentOrObservable"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="DataComponentRefPropertyType">
        <attribute form="unqualified" name="ref" type="sml:DataComponentPathPropertyType"
            use="required"/>
    </complexType>
    <simpleType name="DataComponentPathPropertyType">
        <restriction base="token">
            <pattern value="([a-zA-Z_][a-zA-Z0-9_\-\.]*)(/[a-zA-Z_][a-zA-Z0-9_\-\.]*)*"/>
        </restriction>
    </simpleType>
    <!-- ================================================= -->
    <element name="SimpleProcess" substitutionGroup="sml:AbstractProcess"
        type="sml:SimpleProcessType"/>
    <complexType name="SimpleProcessType">
        <complexContent>
            <extension base="sml:AbstractProcessType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="method"
                        type="sml:ProcessMethodPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimpleProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:SimpleProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ProcessMethod" substitutionGroup="swe:AbstractSWEIdentifiable"
        type="sml:ProcessMethodType">
        <annotation>
            <documentation>The method describes (as an algorithm or text) how the process takes the
                input and parameter values and generates output values.</documentation>
        </annotation>
    </element>
    <complexType name="ProcessMethodType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="algorithm">
                        <complexType>
                            <sequence>
                                <element ref="sml:AbstractAlgorithm"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProcessMethodPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ProcessMethod"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element abstract="true" name="AbstractAlgorithm" substitutionGroup="gml:AbstractObject"
        type="sml:AbstractAlgorithmType"/>
    <complexType abstract="true" name="AbstractAlgorithmType">
        <sequence/>
        <attribute ref="gml:id" use="optional"/>
    </complexType>
    <complexType name="AbstractAlgorithmPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AbstractAlgorithm"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <annotation>
        <documentation>The elements supporting configurability and configuration settings of a
            instance of any process.                  SensorML is an OGC Standard.         Copyright
            (c) 2014 Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <!-- ================================================= -->
    <element name="Mode" substitutionGroup="sml:DescribedObject" type="sml:ModeType"/>
    <complexType name="ModeType">
        <complexContent>
            <extension base="sml:DescribedObjectType">
                <sequence>
                    <element form="qualified" name="configuration" type="sml:SettingsPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ModePropertyType">
        <sequence minOccurs="0">
            <element ref="sml:Mode"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ModeChoice" substitutionGroup="sml:AbstractModes" type="sml:ModeChoiceType">
        <annotation>
            <documentation>A collection of modes from which one can exclusively select during
                configuration of a process.</documentation>
        </annotation>
    </element>
    <complexType name="ModeChoiceType">
        <complexContent>
            <extension base="sml:AbstractModesType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="mode"
                        type="sml:ModePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ModeChoicePropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ModeChoice"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Settings" substitutionGroup="sml:AbstractSettings" type="sml:SettingsType"/>
    <complexType name="SettingsType">
        <complexContent>
            <extension base="sml:AbstractSettingsType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="setValue"
                        type="sml:ValueSettingPropertyType">
                        <annotation>
                            <documentation>Allows the setting of a particular property
                                value.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="setArrayValues" type="sml:ArraySettingPropertyType">
                        <annotation>
                            <documentation>Allows the setting of array values for a particular
                                property.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="setConstraint" type="sml:ConstraintSettingPropertyType">
                        <annotation>
                            <documentation>Allows one to further restrain the allowed values of a
                                particular property.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="setMode"
                        type="sml:ModeSettingPropertyType">
                        <annotation>
                            <documentation>Allows one to select a predefined mode, which by
                                inference sets a collection of property values according to the
                                definition of that mode.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="setStatus"
                        type="sml:StatusSettingPropertyType">
                        <annotation>
                            <documentation>Allows one to set the status (enabled, disabled, etc) of
                                a particular input, output, or parameter.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SettingsPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:Settings"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="ArraySettingPropertyType">
        <sequence>
            <element form="qualified" name="ArrayValues">
                <complexType>
                    <sequence>
                        <element form="qualified" name="encoding">
                            <complexType>
                                <sequence>
                                    <element ref="swe:AbstractEncoding"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element form="qualified" name="value" type="swe:EncodedValuesPropertyType"
                        />
                    </sequence>
                </complexType>
            </element>
        </sequence>
        <attribute form="unqualified" name="ref" type="sml:DataComponentPathPropertyType"
            use="required"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="ModeSettingPropertyType">
        <simpleContent>
            <extension base="NCName">
                <attribute form="unqualified" name="ref" type="sml:DataComponentPathPropertyType"
                    use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="ValueSettingPropertyType">
        <simpleContent>
            <extension base="token">
                <attribute form="unqualified" name="ref" type="sml:DataComponentPathPropertyType"
                    use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="ConstraintSettingPropertyType">
        <sequence>
            <group ref="sml:Constraint"/>
        </sequence>
        <attribute form="unqualified" name="ref" type="sml:DataComponentPathPropertyType"
            use="required"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="StatusSettingPropertyType">
        <simpleContent>
            <extension base="sml:StatusType">
                <attribute form="unqualified" name="ref" type="sml:DataComponentPathPropertyType"
                    use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <!-- ================================================= -->
    <group name="Constraint">
        <choice>
            <element ref="swe:AllowedTimes"/>
            <element ref="swe:AllowedTokens"/>
            <element ref="swe:AllowedValues"/>
        </choice>
    </group>
    <complexType name="ConstraintPropertyType">
        <sequence minOccurs="0">
            <group ref="sml:Constraint"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <simpleType name="StatusType">
        <restriction base="string">
            <enumeration value="enabled"/>
            <enumeration value="disabled"/>
        </restriction>
    </simpleType>
    <annotation>
        <documentation>The elements of a concrete aggregate physical process derived from the core
            process model.                  SensorML is an OGC Standard.         Copyright (c) 2014
            Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <annotation>
        <documentation>The elements of a concrete simple physical process derived from the core
            process model.                  SensorML is an OGC Standard.         Copyright (c) 2014
            Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <!-- ================================================= -->
    <element name="PhysicalComponent" substitutionGroup="sml:AbstractPhysicalProcess"
        type="sml:PhysicalComponentType">
        <annotation>
            <documentation>A PhysicalComponent is a physical process that will not be further
                divided into smaller components.</documentation>
        </annotation>
    </element>
    <complexType name="PhysicalComponentType">
        <complexContent>
            <extension base="sml:AbstractPhysicalProcessType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="method"
                        type="sml:ProcessMethodPropertyType">
                        <annotation>
                            <documentation>The method describes (as an algorithm or text) how the
                                process takes the input and, based on the parameter values,
                                generates output values.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PhysicalComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:PhysicalComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element abstract="true" name="AbstractPhysicalProcess" substitutionGroup="sml:AbstractProcess"
        type="sml:AbstractPhysicalProcessType">
        <annotation>
            <documentation>A physical process where the spatial and temporal state of the process is
                relevant.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractPhysicalProcessType">
        <complexContent>
            <extension base="sml:AbstractProcessType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="attachedTo"
                        type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>sml:AbstractPhysicalProcess</gml:targetElement>
                            </appinfo>
                            <documentation>References the physical component or system (e.g.
                                platform) to which to which this component or system is
                                attached.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="localReferenceFrame">
                        <annotation>
                            <documentation>A spatial reference frame of the physical component
                                itself; this reference frame is absolute and defines the
                                relationship of the reference frame to the physical body of the
                                component; position of the component relates this reference frame to
                                some external reference frame. Note that units are specified in the
                                position so they are not specified as part of the
                                SpatialFrame.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:SpatialFrame"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="localTimeFrame">
                        <annotation>
                            <documentation>Supports local time reference frames such as "time past
                                mission start". Note that units are handled in timePosition so they
                                are not specified in the TemporalFrame.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="sml:TemporalFrame"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0" name="position"
                        type="sml:PositionUnionPropertyType">
                        <annotation>
                            <documentation>Provides positional information relating the component's
                                spatial reference frame to an external spatial reference frame.
                                Positional information can be given by location, by full body state,
                                by a time-tagged trajectory, or by a measuring or computational
                                process.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="0"
                        name="timePosition" type="swe:TimePropertyType">
                        <annotation>
                            <documentation>Provides Time positions typically reference a local time
                                frame to an external time frame. For example, a timer-start-time
                                might be given relative to an "absolute" GPS time.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractPhysicalProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AbstractPhysicalProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="TemporalFrame" substitutionGroup="swe:AbstractSWEIdentifiable"
        type="sml:TemporalFrameType">
        <annotation>
            <documentation>A general temporal frame such as a mission start time or timer start
                time. The origin should just describe context of the start of time (e.g. start of
                local timer).</documentation>
        </annotation>
    </element>
    <complexType name="TemporalFrameType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <sequence>
                    <element form="qualified" name="origin" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TemporalFramePropertyType">
        <sequence minOccurs="0">
            <element ref="sml:TemporalFrame"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="SpatialFrame" substitutionGroup="swe:AbstractSWEIdentifiable"
        type="sml:SpatialFrameType">
        <annotation>
            <documentation>A general spatial Cartesian Reference Frame where the axes and origin
                will be defined textually relative to a physical component.</documentation>
        </annotation>
    </element>
    <complexType name="SpatialFrameType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <sequence>
                    <element form="qualified" name="origin" type="string">
                        <annotation>
                            <documentation>A textual description of the origin of the reference
                                frame relative to the physical device (e.g. "the origin is at the
                                point of attachment of the sensor to the platform").</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="axis">
                        <annotation>
                            <documentation>Axis with name attribute and a textual description of the
                                relationship of the axis to the physical device; the order of the
                                axes listed determines their relationship according to the
                                right-handed rule (e.g. axis 1 cross axis 2 = axis
                                3).</documentation>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="string">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SpatialFramePropertyType">
        <sequence minOccurs="0">
            <element ref="sml:SpatialFrame"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <group name="PositionUnion">
        <annotation>
            <documentation>A choice of elements for defining spatial state (e.g. location,
                orientation, linear/angular velocity and linear/angular
                acceleration.</documentation>
        </annotation>
        <choice>
            <element ref="swe:Text">
                <annotation>
                    <documentation>Provides positional information in textual form (e.g. "located on
                        the intake line before the catalytic converter"); shall only be used when a
                        more precise location is unknown or irrelevant.</documentation>
                </annotation>
            </element>
            <element ref="gml:Point">
                <annotation>
                    <documentation>Provides static location only using a gml:Point
                        element.</documentation>
                </annotation>
            </element>
            <element ref="swe:Vector">
                <annotation>
                    <documentation>Provides a static location using a swe:Vector.</documentation>
                </annotation>
            </element>
            <element ref="swe:DataRecord">
                <annotation>
                    <documentation>Provides location and orientation as a DataRecord consisting of
                        one or two Vector elements.</documentation>
                </annotation>
            </element>
            <element ref="swe:DataArray">
                <annotation>
                    <documentation>Provides time-tagged dynamic state information that can include,
                        for instance, location, orientation, velocity, acceleration, angular
                        velocity, angular acceleration; shall be a DataArray consisting of a
                        DataRecord element of multiple Vector fields.</documentation>
                </annotation>
            </element>
            <element ref="sml:AbstractProcess">
                <annotation>
                    <documentation>Provides for positional information to be provided by a process;
                        example processes could include a physical sensor such as a GPS, a
                        computational process such as an orbital propagation model, a specific web
                        service such as a SOS, or any process who's output provides positional
                        information.</documentation>
                </annotation>
            </element>
        </choice>
    </group>
    <complexType name="PositionUnionPropertyType">
        <sequence minOccurs="0">
            <group ref="sml:PositionUnion"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <annotation>
        <documentation>The elements of a concrete aggregate non-physical process derived from the
            core process model.                  SensorML is an OGC Standard.         Copyright (c)
            2014 Open Geospatial Consortium.         To obtain additional rights of use, visit
            http://www.opengeospatial.org/legal/ .         </documentation>
    </annotation>
    <!-- ================================================= -->
    <element name="AggregateProcess" substitutionGroup="sml:AbstractProcess"
        type="sml:AggregateProcessType">
        <annotation>
            <documentation>A process that consist of a collection of linked component processes
                resulting in a specified output.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateProcessType">
        <complexContent>
            <extension base="sml:AbstractProcessType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="components"
                        type="sml:ComponentListPropertyType"/>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="connections"
                        type="sml:ConnectionListPropertyType">
                        <annotation>
                            <documentation>The explicit definition of data links between outputs,
                                inputs, and parameters of the components within an aggregate
                                process.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AggregateProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:AggregateProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ConnectionList" substitutionGroup="swe:AbstractSWE" type="sml:ConnectionListType"/>
    <complexType name="ConnectionListType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="connection">
                        <complexType>
                            <sequence>
                                <element ref="sml:Link"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConnectionListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ConnectionList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="ComponentList" substitutionGroup="swe:AbstractSWE" type="sml:ComponentListType"/>
    <complexType name="ComponentListType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element form="qualified" maxOccurs="unbounded" minOccurs="1" name="component">
                        <annotation>
                            <documentation>A description of a component of the aggregate process. If
                                by reference, the uniqueID of the referenced process must be
                                provided using the xlink:title attribute while the URL to the
                                process description must be provided by the xlink:href
                                attribute.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="sml:AbstractProcessPropertyType">
                                    <attribute form="unqualified" name="name" type="NCName"
                                        use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ComponentListPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:ComponentList"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Link" substitutionGroup="gml:AbstractObject" type="sml:LinkType"/>
    <complexType name="LinkType">
        <sequence>
            <element form="qualified" name="source" type="sml:DataComponentRefPropertyType">
                <annotation>
                    <documentation>The output from which the link originates.</documentation>
                </annotation>
            </element>
            <element form="qualified" name="destination" type="sml:DataComponentRefPropertyType">
                <annotation>
                    <documentation>The input or parameter into which the data flows.</documentation>
                </annotation>
            </element>
        </sequence>
        <attribute ref="gml:id" use="optional"/>
    </complexType>
    <complexType name="LinkPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:Link"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="PhysicalSystem" substitutionGroup="sml:AbstractPhysicalProcess"
        type="sml:PhysicalSystemType">
        <annotation>
            <documentation>A PhysicalSystem is an aggregate system that can include multiple
                components (both physical and non-physical) with explicit links between the outputs,
                inputs, and parameters of the individual components. In a PhysicalSystem, the
                spatial position of the System itself is relevant to its
                application.</documentation>
        </annotation>
    </element>
    <complexType name="PhysicalSystemType">
        <complexContent>
            <extension base="sml:AbstractPhysicalProcessType">
                <sequence>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="components"
                        type="sml:ComponentListPropertyType">
                        <annotation>
                            <documentation>The collection of processes that make up a process
                                aggregation.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="connections"
                        type="sml:ConnectionListPropertyType">
                        <annotation>
                            <documentation>The explicit definition of data links between outputs,
                                inputs, and parameters of the components within an aggregate
                                process.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PhysicalSystemPropertyType">
        <sequence minOccurs="0">
            <element ref="sml:PhysicalSystem"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>
